body,h1,h2,h3,h4,h5,h6 {
    font-family: "Palatino Linotype", sans-serif
}
body, html {
  height: 100%;
  line-height: 1.8;
}
/* Full height image header */
.title_img {
    background-position: center;
    background-size: cover;
    background-image: url("img/mit.jpg");
    height: 50%;
}
.title_img h1{
    font-weight: bold;
}
.w3-bar .w3-button {
    padding: 6px 16px;
}
.fa{
    margin: 0px 3px;
}